
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color:  #d9e8ff;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #003366;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid #ffcc00;
}

.navbar-logo {
  font-size: 1.8em;
  font-weight: 700;
  color: #ffcc00;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-links {
  display: flex;
  gap: 25px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s;
  position: relative;
}

.navbar-links a:hover {
  color: #ffcc00;
  transform: scale(1.1);
}

.navbar-links a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffcc00;
  transition: width 0.3s;
}

.navbar-links a:hover::after {
  width: 100%;
}

.logout {
  padding: 7px 20px;
  border: 2px solid #ffcc00;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout:hover {
  background-color: #ffcc00;
  color: #003366;
}

.form-section {
  padding: 30px;
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.form-title {
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 20px;
  color: #003366;
}

.job-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  padding: 15px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: #f9fafb;
}

.form-group legend {
  font-size: 1.2em;
  font-weight: 600;
  color: #003366;
  margin-bottom: 10px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 1em;
  color: #333;
}

input, textarea {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  margin-top: 5px;
  transition: box-shadow 0.3s ease;
}

input:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
  outline: none;
  border-color: #007bff;
}

textarea {
  resize: vertical;
}

.submit-button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background-color: #003366;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ffcc00;
  color: #003366;
}

@media screen and (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-links {
      flex-direction: column;
      gap: 15px;
      margin-top: 15px;
  }


