.jobCard {
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.jobCard:hover {
  border: 1px solid orange;
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.jobCardHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* border: 1px solid red; */
}

.jobTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.companyName {
  font-size: 1rem;
  color: #555;
  margin-block: 5px;
}

.jobCardBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.jobLocation,
.jobSalary {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #666;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  opacity: 0.7;
}

.jobCardBody img {
  opacity: 0.9;
}

.jobCardBody img:hover {
  opacity: 1;
  transition: opacity 0.2s;
}


.jobActions {
  /* border: 1px solid red; */
  display: flex;
  height: 100%;
  gap: 10px;
  margin-bottom: 50px;
  margin-left: 350px;
  /* justify-content:flex-end; */
}

.jobActions img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.jobInfo {
  display: flex;
  gap: 15px;
}


.jobIcon {
  width: 80px;
  height: 80px;
  /* border-radius: 50%; */
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobIcon img {
  background-color: white;
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}

.jobTags {
  display: flex;
  gap: 10px;
  margin: 10px 0 0;
  /* border: 1px red solid; */
}

.tag {
  /* margin-top: 20px; */
  background-color: #f0f3fa;
  color: #555;
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 3px;
  border-radius: 20px;
  border: 1px solid #dce1ed;
  transition: background-color 0.3s, color 0.3s;
}

.tag:hover {
  background-color: #007bff;
  color: #fff;
}